/* media screen style start here */
/* Mobile devises */
@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .right-side, 
    .menu-list ul{
        flex-direction: column;
    }
    .banner{
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;
    }
    .banner-description{
        width: 100%;
    }
    .banner-photos{
        width: 100%;
    }
    .div-icon{
        margin-bottom: 10px;
    }
    .banner-description{
        padding-top: 100px;
        padding-bottom: 20px;
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .banner-photos{
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .games-photos{
        flex-direction: column;
        align-items: center;
    }
    .box{
       margin-bottom: 20px;
    }
    .online-games-title{
        font-size: 25px;
    }
    .online-games-description{
        font-size: 15px;
    }
    .Play-instantly{
        flex-direction: column;
        padding-left: 0px;
    }
    .play-description-title{
        font-size: 30px;
    }
    .play-description{
        text-align: center;
    }  
    .play-description{
        width: 100%;
    }
    .play-images{
        width: 70%;
        margin-top: 0px;
    }
    .games-photos{
        padding-bottom: 20px;
    }
    .button-box{
        border-radius: 50px;
        width: 100px;
        height: 30px;
    }
    .box-button-text{
        font-size: 10px;
    }
    .box-image img{
        width: 20px;
    }
    .footer-text-partA{
        gap: 50px;
        row-gap: 20px;
        justify-content: center;
    }
    .policy-partB{
        gap: 72px;
        row-gap: 20px;
        justify-content: center;
    }
    .footer-logo-title{
        font-size: 20px;
    }
    .footer-logo-section{
        padding-top: 50px;
        padding-bottom: 20px;
    }
}



/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-container{
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .right-side{
        flex-direction: column;

    }
    .menu-list ul{
        flex-direction: column;
    }
    .div-icon{
        margin-bottom: 10px;
    }
    .banner{
        max-width: 80%;
        margin: 0 auto;
    }
    .banner-description{
        padding-top: 100px;
        padding-bottom: 20px;
        padding-left: 30px;
    }
    .banner-photos{
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .games-photos{
        flex-direction: column;
        align-items: center;
    }
    .box{
        margin-bottom: 20px;
     }
}