*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
nav{
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content:space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.left-side{
    display: flex;
    align-items: center;
    gap: 10px;
}
.right-side{
    display: flex;
    align-items: center; 
    gap: 5px;
    color: #3C354F;
    font-size: 16px;
    font-weight: 400;
}
.g-span{
    color: #FF42A5;
}
.header-title{
    color: #0B0223;
    font-size: 25px;
    font-weight: 700;
}
.menu-list ul{
    list-style: none;
    display: flex;  
}
.menu-list ul li{
    padding: 15px;
}
.menu-list ul li a{
    text-decoration: none;
    color: black;
}
.div-icon{
    width: 210px;
    height: 40px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background: rgba(11, 2, 35, 0.10);
    
}
.div-icon-text{
    padding-left: 3px;
}
.div-icon-img{
    display: flex;
    gap: 10px;
}
.div-icon-youtube{
    color: red;
}

