*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); 
}
.nav-container{
    max-width: 1440px;
    min-height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.left-side{
    display: flex;
    align-items: center;
    gap: 10px;
}
.right-side{
    display: flex;
    align-items: center; 
    gap: 5px;
    color: #3C354F;
    font-size: 16px;
    font-weight: 400;
}
.g-span{
    color: #FF42A5;
}
.header-title{
    color: #0B0223;
    font-size: 25px;
    font-weight: 700;
}
.menu-list ul{
    list-style: none;
    display: flex;  
}
.menu-list ul li{
    padding: 15px;
}
.menu-list ul li a{
    text-decoration: none;
    color: black;
}
.div-icon{
    width: 210px;
    height: 40px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background: rgba(11, 2, 35, 0.10);
    
}
.div-icon-text{
    padding-left: 3px;
}
.div-icon-img{
    display: flex;
    gap: 10px;
}
.div-icon-youtube{
    color: red;
}
/* main style start here */

/* banner section start here */
.banner{
    min-height: 400px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}
.banner-description{
    width: 50%;
    background-image: url(./images/Group\ 14.png);
    background-size:100%;
    padding-top: 100px;
    padding-left: 90px; 
}
.play{
    color: #0B0223;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.goat{
    font-size: 70px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.banner-text{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
.btn-item{
    padding-top: 10px;
    display: flex;
    gap: 10px;
}
.btn-primary button{
    padding: 15px 35px;
    gap: 10px;
    border: 0px;
    border-radius: 48px;
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.btn-blue button{
    padding: 15px 35px;
    gap: 10px;
    border: 0px;
    border-radius: 48px;
    background: #4EC5F7;
}
.banner-photos{
    width:50%;
}
.banner-photos img{
    width: 100%;
}

/* banner section end here */

/* online games styles start here */


.online-games{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
.online-games-title{
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
}
.funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.games-photos{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.box{
    width: 250px;
    height: 350px;
    align-items: center;
}
.box-img{
    width: 246px;
    height: 300px;
}
.box-img img{
    width: 100%;
    height: 100%;
}
.photo-title{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
}


/* online games styles end here */